body{
    font: normal 14pt Arial;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url(img/image-18.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    
}

.barra-menu{
    background-color: rgba(146, 161, 130, 0.349);
    backdrop-filter: blur(6px);
    position: fixed;
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
#lista{
    list-style-type: none; /* Remover marcadores de lista padrão */
    padding: 0;
    margin-top: 45px;
}

nav li {
    display: inline; 
    margin-right: 25px; 
}
ul a {
    text-decoration: none;
    color: white;
}

.barra-menu > h1{
    font-size: 50px;
    padding: 0;
    margin: 20px 100px 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 50px;
    padding: 20px;
    background-color: rgba(34, 49, 63, 0.712);
    
}

#local{
    margin-top: 10px;
    display: flex;
    background-color: #bbd1ee;
    color: black;
    padding: 20px;
    border-radius: 7px;
}

#trocar{
    margin: 0 20px;
    transform: scale(2);
    max-width: fit-content;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: 0.5s;

}
#trocar:hover{
    transform: scale(2) rotate(180deg);
    transition: 0.5s;
}
#onibus{
    background-color: #bbd1ee;
    max-width: 620px;
    /* margin: 0 30%; */
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}

#lugares {
    color: black;
    background-color: #333;
    margin: 0;
    padding: 0;
}
#lugares-cima, #lugares-baixo {
    background-color: rgb(113, 160, 160);
    display: flex;

}

#lugares-baixo {
    margin-top: 10px;
}

li {
    list-style-type: none;
    padding: 5px;
}

#motorista {
    background-color: #333;
    color: white;
    padding: 10px;
    width: auto;
    height: auto;
    margin-right: 10px;
}

.rodape{
    background-color: #333333a9;
    backdrop-filter: blur(3px);
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    margin-top: 200px;
    bottom: 0;
    width: 100%;
}